@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #ffffff;
}

.carousel {
  position: relative;
  display: flex;
  width: 100%;

  .slides {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }
    img {
      position: absolute;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      opacity: 0;
      z-index: 9999;

      &.active {
        opacity: 1;
      }
    
  }

  .overlays {
    position: relative;

   
    width: 30em;
    height: 25em;

    .bar {
      position: absolute;
      border-radius: 15px;
      justify-content: center;
      display: flex;
      width: 100%;
      height: 100%;
      background: var(--bar-color);
      transform-origin: left;
    }
    .btnview{
      height: 20px;
      width: 80px;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    width: 90%;
 
    list-style-type: none;

    .nav-link {
      font-size: 2rem;
      font-family: Lora, serif;
      line-height: 2;
      text-decoration: none;
      color: #F4DFC8;
      transition: 0.3s;

      &:hover {
        color: #1c1e1f;
      }

      &.active {
        color: black;
        pointer-events: none;
      }
    }
  }
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    display: flex;
}
.nav {
    list-style-type: none;
    margin-top: 15px;
    width: 90%;
    padding: 10px;
    border-radius: 25px;
    overflow: hidden;
    background: rgb(0,237,255);
    box-shadow: #88898a 0px 0px 10px;
    background: linear-gradient(90deg, rgba(0,237,255,1) 36%, rgba(255,255,255,1) 73%);
  }
  
  .nav-items {
    float: left;
  }
  
  .nav-items a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-items a:hover:not(.active) {
    color: #111;
  }
  
  .active {
  
    padding: 10px;
    border-radius: 10px;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    border-bottom: 1px dashed #444;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 3.9em;
    margin: 0;
  }
  
  .header h2 {
    font-size: 1.5em;
    color: #888;
    margin: 5px 0 15px 0;
  }
  
  .social-links img {
    width: 24px;
    margin: 0 5px;
  }
  
  .header p a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .about-me {
    text-align: center;
    border-bottom: 1px dashed #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .avatar {
    width: 250px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid rgb(0,237,255);
  }
  
  .skill {
    background-color: #4CAF50;
    padding: 2px 8px;
    border-radius: 5px;
  }
  
  .projects {
    text-align: center;
  }
  /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Cursor */
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 30%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(0, 0, 0, 0.75); }
  to { border-right-color: transparent; }
}

